go 1.22.1

use (
	./cli
	./functions/authenticate
	./functions/collecting
	./functions/embedder
	./functions/explore
	./functions/practice
	./functions/rest
	./functions/translate
	./functions/websocket
	./packages/apigateway
	./packages/db
	./packages/explore
	./packages/goauth
	./packages/interfaces
	./packages/session
	./packages/suggest
	./packages/translate
	./packages/transport
	./packages/utils
	./services/collecting
	./services/explore
	./services/goembedder
	./services/practice
	./services/rest
	./services/suggest
	./tests
)
