go 1.22.1

use (
	./cli
	./functions/chat
	./functions/collecting
	./functions/explore
	./functions/grammar
	./functions/practice
	./functions/rest
	./functions/translate
	./functions/utils
	./functions/websocket
	./packages/apigateway
	./packages/collecting
	./packages/common
	./packages/db
	./packages/explore
	./packages/goauth
	./packages/interfaces
	./packages/session
	./packages/suggest
	./packages/translate
	./packages/transport
	./packages/utils
	./services/chat
	./services/collecting
	./services/explore
	./services/practice
	./services/rest
	./services/suggest
	./tests
)
