go 1.22.1

use (
	./cli
	./packages/apigateway
	./packages/db
	./packages/explore
	./packages/auth
	./packages/session
	./packages/suggest
	./packages/translate
	./packages/transport
	./packages/utils
	./services/auth
	./services/collecting
	./services/embedder
	./services/explore
	./services/practice
	./services/rest
	./services/suggest
	./services/translate
	./services/websocket
	./tests
)
